footer > #footerContent {
  height: 100%;
  width: 100%;
  padding: 32px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

footer > #footerContent > p {
  font-size: 1rem;
  text-align: center;
}

p {
  line-height: 1.55;
  letter-spacing: 1px;
}

section {
  display: flex;
  justify-content: center;
}

section > div {
  margin-bottom: 10%;
}

#aboutMe {
  margin-top: 12%;
}

#aboutMe > h1 {
  font-size: 3.5rem;
  margin: 30px 0;
}

#aboutMe > h3 {
  font-size: 2.10rem;
}

#background {
  width: 80%;
  margin: 5% auto;
  height: 100%;
  font-weight: lighter;
}

#buttonContainer {
  letter-spacing: 2px;
  min-width: 90%;
}

#footerContent > .logo-mark {
  margin: 0 25px;
  width: 50px;
}

#fullName {
  font-family: 'Poiret One', serif;
  font-size: 60px;
  letter-spacing: 15px;
  line-height: 70px;
  text-align: center;
}

#homeIcon {
  position: absolute;
  font-size: 3rem;
  color: cadetblue;
  bottom: 5px;
  animation: bounce 7s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-15px);}
  60% {transform: translateY(-5px);}
}

#logoContainer {
  width: 100vw;
  height: 19vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#myImage img {
  height: auto;
  width: 70%;
  box-shadow: -3px 1px 20px silver;
  border-radius: 30%;
  margin-bottom: 1rem;
}

#stackContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#subTitle {
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 200;
}

#techStack {
  width: 98%;
  height: 100%;
  padding: 30px;
  box-shadow: 0px 1px 20px 8px #EEEAE9;
}

#techStack > h2 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
  font-weight: lighter;
}

.stackDescription {
  text-align: center;
  margin: 0;
}

.stackIcon {
  width: 130px;
  height: 130px;
  margin: 0 30px 30px 30px;
}

.logo-mark {
  margin-right: 25px;
  width: 30px;
}

.myText > a {
  text-decoration: none;
  color: darkcyan;
}

.myText > a:hover {
  color: darkslategray;
  font-weight: bolder;
}
