* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #fff3e6; */
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: rgb(159,209,180);
  background: linear-gradient(0deg, rgba(159,209,180,0) 0%, rgba(159,209,195,1) 65%);

}

main {

}

footer {
  /* background-color: #fff3e6; */
}

a.list-group-item.list-group-item-action:hover {
  /* color: #f0b97d; */
}

#full-name {
  /* font-family: Tajawal; */
  font-family: 'Poiret One';
  font-size: 60px;
  letter-spacing: 15px;
  line-height: 70px;
}

#sub-title {
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 200;
}

#home-icon {
  position: absolute;
  font-size: 55px;
  color: cadetblue;
  bottom: 5px;
  animation: bounce 7s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-15px);}
  60% {transform: translateY(-5px);}
}

.navbar {
  background-color: rgba(159,209,195,1);
  padding-top: 20px;
  height: 3rem;
  font-size: 1rem;
  font-family: 'Poiret One';
}

.nav-item {
  box-shadow: 0px 3px 3px -4px rgba(0,0,0,0.25);
  text-align: center;
  padding: 0 15px;
}

.list-group-item.active {
  background-color: #a2a2a2;
}

.list-group-item, .list-group-item.disabled {
}

.background {
  width: 80%;
  margin: 5% auto;
  height: 100vh;
}

#myLinks {
  max-width: 443px;
}

@media screen and (max-width: 1200px) and (min-width: 990px) {
  #myLinks {
    max-width: 370px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  #myLinks {
    max-width: 270px;
  }
}
