#whatIKnow {
  border-left: 1px solid rgba(0,0,0,.125);
  padding: 20px 30px;
}

/* media queries */
@media screen and (max-width:767px) {
  #whatIKnow {
    border-left: none;
    padding: 15px;
    border-top: 1px solid rgba(0,0,0,.125);
  }
}
